@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Saira+Semi+Condensed:wght@100&display=swap');

header{
    font-size: 50px;
    color: beige;
    font-family: 'Dhurjati', sans-serif;
    padding: 1px 1px 1px 1px; /*preenchimento na parte interna do elemento */
    letter-spacing: 2px;
    text-align: center;
    height: 80px;
    border: 1px solid #C87BF5;
    border-radius: 20px;
    color: #87A1F5;
}

div{
    padding: 10px 10px 10px 10px;
    color: beige;
    display: inline-block;
    height: fit-content;
    width: 95%;
}

h1{
    font-size: 35px;
    font-family: 'Dhurjati', sans-serif;  /*Fontes podem ser adquiridas no Google fontes */
}

p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    padding: 20px 15px 15px 15px;
    text-align: justify;
    text-indent: 35px; /*Espaçamento no começo do parágrafo */
    line-height: 1.5;
    word-spacing: 4px;
}

.back{
    background-color: black;
    text-align: center;
}

section{
    padding: 10px 10px 10px 10px;

}

a.button {
    background-color: #6392FA;
    color:black;
    text-decoration: none;
    border-radius: 30px;
    border: 5px;
    padding: 10px 8px 8px 8px;
    font-size: 18px;
}

a.button:hover{
    background-color: #3E85DC;
    padding: 10px;
    font-weight: bold;
}

footer {
    color:beige;
    font-size: 15px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
/*
.name{} são usados para referenciar classes. Não usar números
#name{} são usados para referenciar id
Lorem10 Tab/Enter para textos automáticos

*{} faz com que todas as tags recebam a propriedade especificada

h1, p{} ambas as tags terão as mesmas propriedades, agrupamento de seletores


*/