@import url('https://fonts.googleapis.com/css2?family=Dhurjati&family=Saira+Semi+Condensed:wght@100&display=swap');

body{
    background-color: #f4f3f3;
}

header{
    font-size: 50px;
    font-family: 'Dhurjati', sans-serif;
    padding: 20px 20px 20px 20px; /*preenchimento na parte interna do elemento */
    letter-spacing: 2px;
}

div{
    padding: 50px 90px 100px 90px;
}

h1{
    text-align: left;
    font-size: 35px;
    font-family: 'Dhurjati', sans-serif;  /*Fontes podem ser adquiridas no Google fontes */
}

p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    padding: 20px 15px 15px 15px;
    text-align: justify;
    text-indent: 35px; /*Espaçamento no começo do parágrafo */
    line-height: 1.5;
    word-spacing: 4px;
}

.back{
    background:url("../pexels-henry-&-co-1939485.jpg") no-repeat center;
    background-size: cover;
    height: 50px;
    text-align: center;
    border: 1px solid rgb(158, 150, 150);
    border-radius: 20px;
}

section{
    padding: 2px 2px 30px 55px;
    position: absolute;
    bottom: 50px;
}

a.button {
    background-color: #6392FA;
    color:black;
    text-decoration: none;
    border-radius: 30px;
    border: 5px;
    padding: 10px 8px 8px 8px;
    font-size: 18px;
}

a.button:hover{
    background-color: #3E85DC;
    padding: 10px;
    font-weight: bold;
}

footer {
    font-size: 18px;
    padding: 10px 910px 10px 900px;
    position: fixed;
    bottom: 0;
}
/*
.name{} são usados para referenciar classes. Não usar números
#name{} são usados para referenciar id
Lorem10 Tab/Enter para textos automáticos

*{} faz com que todas as tags recebam a propriedade especificada

h1, p{} ambas as tags terão as mesmas propriedades, agrupamento de seletores


*/